* {
	padding: 0;
	margin: 0;
	font-family: Work Sans;
}
/* Header- styles-strat */
header {
	height: 950px;
	width: 100%;
	background: url(./images/banner/banner3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.head-bennar {
	text-align: right;
	padding: 230px 210px 300px 0;
}
.head-title {
	font-size: 75px;
	line-height: 76.25px;
	color: #fff;
	font-weight: 800;
}
.head-discription {
	margin: 30px 0;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.primary-btn {
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	color: #005fac;
	font-size: 20px;
	font-weight: 600;
	border: 0;
}
/* main-styles */
main {
	background: rgba(255, 255, 255, 1);
	max-width: 1140px;
	margin: 0 auto;
}
/* My-Failure-section-styles Strat */
.my-failure {
	display: flex;
	gap: 100px;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}
.previous-year {
	margin-top: 200px;
}
.previous-year .head-title {
	color: #000;
	font-weight: bold;
	text-align: left;
	font-size: 50px;
	line-height: none;
	line-height: normal;
}
.frist-discription {
	text-align: left;
	margin: 30px 0;
	font-weight: 500;
	color: rgba(68, 67, 67, 1);
}
.frist-row {
	text-align: left;
}
.frist-p {
	font-weight: 700px;
	margin: 10px 0;
	font-weight: 500;
}
.fa-solid {
	color: rgba(22, 216, 135, 1);
	font-size: 20px;
}

/* my-plans styles strat */
.my-plans {
	text-align: center;
	margin-top: 200px;
}

.my-plans .head-title {
	color: #000;
	text-align: center;
	font-size: 40px;
}

.catagory {
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
}

/* gradiant styles */
.linear-gradient {
	margin-top: 100px;
	background-image: url(./images/gradient1.png), url(./images/watch.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 100px;
	text-align: left;
	padding: 54px;
	border-radius: 5px;
}
.linear-gradient .head-title {
	font-size: 40px;
	line-height: 59px;
	font-weight: 700;
	margin-bottom: 10px;
}
/* social-platform */
.social-platform {
	display: flex;
	gap: 100px;
}
.social {
	align-items: center;
	margin-top: 150px;
}
.social .head-title {
	color: #000;
}

.fa-brands {
	font-size: 30px;
	border-radius: 5px;
}
/* Footer-styles-strat */
footer {
	margin-top: 100px;
	height: 577px;
	width: 100%;
	background: #000;
}
.last-section {
	display: flex;
	gap: 100px;
	align-items: center;
	padding: 120px 320px 0 320px;
}

.last-section .head-title {
	color: #fff;
	font-size: 35px;
}
.left {
	height: 130px;
	width: 480px;
}

.left .left-discription {
	color: #fff;
}
.left .email {
	color: #fff;
	margin: 20px 0;
}
.left .phone {
	color: #fff;
}
.right {
	text-align: left;
	height: 130px;
	width: 480px;
}
.right .head-title {
	font-size: 25px;
	font-weight: 400px;
}
.input {
	width: 100%;
	padding: 30px;
	border-radius: 9px;
	font-style: 35px;
}
.submit {
	margin: 30px 0;
	background: #fff;
	border-radius: 6px;
	color: #f15b22;
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
	border: 0;
}
.social-icone {
	margin: 20px 0;
}
